go 1.24.1

use (
	./app
	./devtest
	./dists
	./misc
	./residentpackage/residentdata
	./residentpackage/residentprofiles
	./sanitarydevice
	./housepackage/housedata
	./housepackage/houseprofiles
	./globals
	./entities
	./interfaces
)
